<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <listener>
	<listener-class>org.phoenix.node.servlet.ServletLinstener</listener-class>
  </listener>
	
  <servlet>
    <servlet-name>urlmapping</servlet-name>
    <servlet-class>org.phoenix.node.servlet.Servlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>urlmapping</servlet-name>
    <url-pattern>/action.do</url-pattern>
  </servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>